
/* Header styling */

.header {
    background-color: #113f67;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.navigation_bar{
    margin: 15px 15px;
    width: 1200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background-color: #38598b;
    box-shadow: 5px 5px 15px  black;
}

.nav_links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 20px;
}

.gymlogo {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.nav_links a {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

.link {
    border: none;
    transition: all 0.9s ease;
}

.link:hover {
    color: #e7eaf6;
}

/* Muscle group window */

.muscle_content {
    margin-top: 10px;
    width: 100%;
    height: 700px;
    background-color: #e7eaf6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.muscle_choice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1200px;
    position: relative;
}

.cardbc {
    box-shadow: 5px 5px 15px black;
    border-radius: 20px;
    margin: 0px 5px;
    margin-top: 20px;
    background-color: #38598b;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e7eaf6;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.7s ease;
}

/* .card:hover {
    background-color: #bcbcbd;
    cursor: pointer;
    transform: scale(1.25);
} */

.cardbc:hover {
    transform: scale(1.25);
    cursor: pointer;
    background-color: #a2a8d3;
}

.imgcard {
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
}

.exercise_name {
    font-size: 20px;
    transition: all 0.5s ease;
}


@media (max-width: 768px) {
    .header{
        height: 70%;
    }
    .nav_links {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .muscle_content{
        height: 50%;
    }
    .muscle_choice{
        flex-direction: column;
        width: 90%;
        flex-wrap: wrap;
    }
    .cardbc {
        width: 50%;
        margin-bottom: 10px;
    }
}

